.g-signin{
    /* position: absolute; */
    /* top: 50%;
    left: 50%; */
    /* margin-top: -50px;
    margin-left: -50px;
    margin-right: 5rem; */
    margin-right: 2rem;
}

.t{
    background:#0d0c6e ;
    background:#00000075 ;
}