.bg-cont {
  background: #f5f6ff;
  padding: 40px 0;
}

.sectionOne {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  padding-right: 2rem;
}

.aLeft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  padding: 2rem;
  /* background-color: pink; */
}

.aRight {
  width: 50%;
}
.bg {
  background-color: rgba(0, 180, 215, 0.2);
}
